{
    "openapi": "3.0.0",
    "info": {
        "title": "BLAPIS API",
        "description": "API documentation for BLAPIS",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://hisarpropertybazar.com/blapis/api/",
            "description": "API Server"
        },
        {
            "url": "/api"
        }
    ],
    "paths": {
        "/admin/properties/hold": {
            "get": {
                "tags": [
                    "Admin API"
                ],
                "summary": "Get Property Hold Requests List",
                "description": "Retrieve all properties currently on hold with related active hold and channel partner details.",
                "operationId": "81f8fc069576b04101de94595fbf1897",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search by property title, customer name, customer mobile, or partner name/email.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number for pagination (e.g., 1, 2, ...)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Property holds fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Property holds fetched successfully"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        },
                                        "pagination": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/admin/properties/hold/{id}/status": {
            "post": {
                "tags": [
                    "Admin API"
                ],
                "summary": "Approve or Reject Property Hold Status",
                "description": "Update the status of a property hold request. Requires a 4-digit security code. Approving sets status to completed. Rejecting sets status to released and reverts the property status back to active.",
                "operationId": "1d5f6c9bfb1bd89c65ffb9ac15e73b34",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Property ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "status",
                                    "security_code"
                                ],
                                "properties": {
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "approve",
                                            "reject",
                                            "completed",
                                            "released"
                                        ],
                                        "example": "approve"
                                    },
                                    "security_code": {
                                        "description": "4-digit security code for authorization",
                                        "type": "string",
                                        "pattern": "^[0-9]{4}$",
                                        "example": "1234"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Property hold status updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Property hold approved successfully"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error"
                    },
                    "403": {
                        "description": "Invalid Security Code"
                    },
                    "404": {
                        "description": "Property or active hold not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/properties": {
            "get": {
                "tags": [
                    "Customer API"
                ],
                "summary": "Get all properties with pagination and filters",
                "description": "Retrieve a paginated list of properties with optional filters like category, price range and search",
                "operationId": "2b7e7b76bdfea68395f20da44fc13d79",
                "parameters": [
                    {
                        "name": "category_id",
                        "in": "query",
                        "description": "Filter by Category ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "subcategory_id",
                        "in": "query",
                        "description": "Filter by Subcategory ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sub_subcategory_id",
                        "in": "query",
                        "description": "Filter by Sub-Subcategory ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "property_type",
                        "in": "query",
                        "description": "Filter by Category Name",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "category",
                        "in": "query",
                        "description": "Filter by Subcategory Name",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sub_category",
                        "in": "query",
                        "description": "Filter by Sub-Subcategory Name",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "min_price",
                        "in": "query",
                        "description": "Minimum Price",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "max_price",
                        "in": "query",
                        "description": "Maximum Price",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "location",
                        "in": "query",
                        "description": "Filter by Location (City/Address/State)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "General Search (Title/Description)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items per page",
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Properties fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "All active properties fetched successfully"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "title": {
                                                        "type": "string",
                                                        "example": "Property Title"
                                                    },
                                                    "price": {
                                                        "type": "number",
                                                        "format": "float",
                                                        "example": 5000000
                                                    },
                                                    "main_image": {
                                                        "type": "string",
                                                        "example": "https://api.example.com/uploads/properties/image.jpg"
                                                    },
                                                    "attributes": {
                                                        "description": "Property attributes as direct key-value pairs",
                                                        "type": "object",
                                                        "example": {
                                                            "Plot Number": "1350",
                                                            "Plot Size": "96.88 Yards"
                                                        }
                                                    },
                                                    "amenities": {
                                                        "type": "array",
                                                        "items": {
                                                            "properties": {
                                                                "id": {
                                                                    "type": "integer",
                                                                    "example": 1
                                                                },
                                                                "title": {
                                                                    "type": "string",
                                                                    "example": "Pool"
                                                                },
                                                                "icon": {
                                                                    "type": "string",
                                                                    "example": "fa-pool"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/property/{id}": {
            "get": {
                "tags": [
                    "Customer API"
                ],
                "summary": "Get single property",
                "description": "Retrieve details of a specific property by ID",
                "operationId": "996ff6655a816f34aee80ee4402a2d67",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Property ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Property details retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Property details"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "title": {
                                                    "type": "string",
                                                    "example": "Property Title"
                                                },
                                                "main_image_url": {
                                                    "type": "string",
                                                    "example": "http://example.com/uploads/property/image.jpg"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Property not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Property not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/register": {
            "post": {
                "tags": [
                    "Customer API"
                ],
                "summary": "Register new customer",
                "description": "Register a new customer account",
                "operationId": "5d4fa5d5607ed675ba93907e1fc94534",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "phone",
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "+1234567890"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "kumawat22@gmail.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "12345678"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Customer registered successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Customer registered successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/login": {
            "post": {
                "tags": [
                    "Customer API"
                ],
                "summary": "Customer login",
                "description": "Authenticate customer and return JWT token",
                "operationId": "67d6d0fdd54fba132e1b6f55ca254183",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password",
                                    "device_token"
                                ],
                                "properties": {
                                    "email": {
                                        "description": "Customer's email address or phone number",
                                        "type": "string",
                                        "example": "kumawat22@gmail.com or +911234567890"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "12345678"
                                    },
                                    "device_token": {
                                        "type": "string",
                                        "example": "device_token_here"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Customer login successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Customer login successful"
                                        },
                                        "data": {
                                            "properties": {
                                                "customer_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "John Doe"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "kumawat22@gmail.com"
                                                },
                                                "token": {
                                                    "type": "string",
                                                    "example": "jwt_token_here"
                                                },
                                                "token_type": {
                                                    "type": "string",
                                                    "example": "bearer"
                                                },
                                                "expires_in": {
                                                    "type": "integer",
                                                    "example": 3600
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid credentials",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Invalid customer credentials"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/logout": {
            "post": {
                "tags": [
                    "Customer API"
                ],
                "summary": "Customer logout",
                "description": "Logout customer and invalidate JWT token",
                "operationId": "28d48c13fca984400ac8de99f54ee13a",
                "responses": {
                    "200": {
                        "description": "Customer logged out successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Customer logged out successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/home-page": {
            "get": {
                "tags": [
                    "Customer API"
                ],
                "summary": "Get homepage data",
                "description": "Retrieve categories and active properties for homepage display (Public API - No authentication required)",
                "operationId": "42eb75aabb22b158e2e865b32b91763d",
                "responses": {
                    "200": {
                        "description": "Homepage data fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Homepage data fetched successfully"
                                        },
                                        "categories_with_properties": {
                                            "description": "Categories with their properties",
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Residential"
                                                    },
                                                    "image": {
                                                        "type": "string",
                                                        "example": "uploads/images/category.jpg"
                                                    },
                                                    "image_url": {
                                                        "type": "string",
                                                        "example": "http://example.com/uploads/images/category.jpg"
                                                    },
                                                    "properties": {
                                                        "type": "array",
                                                        "items": {
                                                            "properties": {
                                                                "id": {
                                                                    "type": "integer",
                                                                    "example": 1
                                                                },
                                                                "title": {
                                                                    "type": "string",
                                                                    "example": "Luxury Apartment"
                                                                },
                                                                "address": {
                                                                    "type": "string",
                                                                    "example": "123 Main St"
                                                                },
                                                                "property_image": {
                                                                    "type": "string",
                                                                    "example": "http://example.com/uploads/property/image.jpg"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "total_properties": {
                                                        "type": "integer",
                                                        "example": 5
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Property-list/{id}": {
            "get": {
                "tags": [
                    "Customer API"
                ],
                "summary": "Get properties by category",
                "description": "Retrieve active properties for a specific category",
                "operationId": "01453a789a465b32fbf4ac1f154d4341",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Category ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Properties fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Properties fetched successfully"
                                        },
                                        "category_id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "total_properties": {
                                            "type": "integer",
                                            "example": 5
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "title": {
                                                        "type": "string",
                                                        "example": "Property Title"
                                                    },
                                                    "address": {
                                                        "type": "string",
                                                        "example": "123 Main St"
                                                    },
                                                    "price": {
                                                        "type": "number",
                                                        "example": 500000
                                                    },
                                                    "status": {
                                                        "type": "string",
                                                        "example": "active"
                                                    },
                                                    "property_image": {
                                                        "type": "string",
                                                        "example": "http://example.com/uploads/property/image.jpg"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthorized"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Category not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Category not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/customer/notifications": {
            "get": {
                "tags": [
                    "Customer API"
                ],
                "summary": "Get user notifications",
                "description": "Retrieve all notifications for the authenticated customer",
                "operationId": "5affa1b4d2d9ed569d7d0e3e0a48b2e6",
                "responses": {
                    "200": {
                        "description": "Notifications fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Notifications fetched successfully"
                                        },
                                        "unread_count": {
                                            "type": "integer",
                                            "example": 3
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "title": {
                                                        "type": "string",
                                                        "example": "Property Update"
                                                    },
                                                    "body": {
                                                        "type": "string",
                                                        "example": "Your property listing has been updated"
                                                    },
                                                    "type": {
                                                        "type": "string",
                                                        "example": "info"
                                                    },
                                                    "is_read": {
                                                        "type": "boolean",
                                                        "example": false
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "example": "15 Jan 2025, 02:30 PM"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthorized"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/customer/notifications/{id}": {
            "delete": {
                "tags": [
                    "Customer API"
                ],
                "summary": "Delete single notification",
                "description": "Delete a specific notification of the authenticated customer",
                "operationId": "6908b213be7784d060b216e2eb3e3c3b",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Notification ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 5
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Notification deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Notification deleted successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Notification not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Notification not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthorized"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/property-details/{id}": {
            "get": {
                "tags": [
                    "Customer API"
                ],
                "summary": "Get detailed property information",
                "description": "Retrieve comprehensive property details with different view types based on subcategory properties count. Returns grid view for 10+ properties or detailed view for fewer properties.",
                "operationId": "1cd77b6ebea11f57386dec97f4269737",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Property ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Property details retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "title": "Grid View Response",
                                            "properties": {
                                                "status": {
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "viewType": {
                                                    "type": "string",
                                                    "example": "grid"
                                                },
                                                "property": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "title": {
                                                            "type": "string",
                                                            "example": "Plot 123"
                                                        },
                                                        "slug": {
                                                            "type": "string",
                                                            "example": "plot-123"
                                                        },
                                                        "price": {
                                                            "type": "number",
                                                            "format": "float",
                                                            "example": 50000
                                                        },
                                                        "category": {
                                                            "type": "string",
                                                            "example": "Residential",
                                                            "nullable": true
                                                        },
                                                        "subcategory": {
                                                            "type": "string",
                                                            "example": "Plots",
                                                            "nullable": true
                                                        },
                                                        "attributes": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object"
                                                            }
                                                        },
                                                        "main_image": {
                                                            "type": "string",
                                                            "example": "https://api.example.com/storage/properties/image.jpg"
                                                        },
                                                        "360_view": {
                                                            "type": "array",
                                                            "items": {
                                                                "properties": {
                                                                    "image": {
                                                                        "type": "string",
                                                                        "example": "https://api.example.com/storage/properties/360/image.jpg"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "plotData": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "number": {
                                                                "type": "string",
                                                                "example": "Plot 123"
                                                            },
                                                            "size": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 120.5
                                                            },
                                                            "status": {
                                                                "type": "string",
                                                                "example": "active"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "title": "Details View Response",
                                            "properties": {
                                                "status": {
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "viewType": {
                                                    "type": "string",
                                                    "example": "details"
                                                },
                                                "property": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "title": {
                                                            "type": "string",
                                                            "example": "Beautiful Apartment"
                                                        },
                                                        "slug": {
                                                            "type": "string",
                                                            "example": "beautiful-apartment"
                                                        },
                                                        "address": {
                                                            "type": "string",
                                                            "example": "123 Main Street"
                                                        },
                                                        "price": {
                                                            "type": "number",
                                                            "format": "float",
                                                            "example": 250000
                                                        },
                                                        "area": {
                                                            "type": "number",
                                                            "format": "float",
                                                            "example": 120.5
                                                        },
                                                        "status": {
                                                            "type": "string",
                                                            "example": "active"
                                                        },
                                                        "views": {
                                                            "type": "integer",
                                                            "example": 150
                                                        },
                                                        "category": {
                                                            "type": "object"
                                                        },
                                                        "subcategory": {
                                                            "type": "object"
                                                        },
                                                        "attributes": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object"
                                                            }
                                                        },
                                                        "main_image": {
                                                            "type": "string",
                                                            "example": "https://api.example.com/storage/properties/image.jpg"
                                                        },
                                                        "property_images": {
                                                            "type": "array",
                                                            "items": {
                                                                "properties": {
                                                                    "image": {
                                                                        "type": "string",
                                                                        "example": "https://api.example.com/storage/properties/image.jpg"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "360_view": {
                                                            "type": "array",
                                                            "items": {
                                                                "properties": {
                                                                    "image": {
                                                                        "type": "string",
                                                                        "example": "https://api.example.com/storage/properties/360/image.jpg"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "similar": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 2
                                                            },
                                                            "title": {
                                                                "type": "string",
                                                                "example": "Similar Property"
                                                            },
                                                            "address": {
                                                                "type": "string",
                                                                "example": "456 Side Street"
                                                            },
                                                            "image": {
                                                                "type": "string",
                                                                "example": "https://api.example.com/storage/properties/image.jpg",
                                                                "nullable": true
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "plotData": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Property not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Property not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Authentication required",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/Inquiry-save": {
            "post": {
                "tags": [
                    "Customer API"
                ],
                "summary": "Store property inquiry",
                "description": "Submit an inquiry for a property and send notifications via email and WhatsApp",
                "operationId": "09b1c121ab4d08d016f6b711b2ae0b1e",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "property_id",
                                    "name",
                                    "email",
                                    "phone"
                                ],
                                "properties": {
                                    "property_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "kumawat22@gmail.com"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "+1234567890"
                                    },
                                    "message": {
                                        "type": "string",
                                        "example": "I am interested in this property"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Inquiry submitted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Inquiry submitted successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "inquiry_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthorized"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/property/favourite-toggle": {
            "post": {
                "tags": [
                    "Customer API"
                ],
                "summary": "Toggle property favourite",
                "description": "Add or remove a property from customer's favourites",
                "operationId": "106caa548d63c214a442981c47336811",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "property_id"
                                ],
                                "properties": {
                                    "property_id": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Favourite toggled successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "properties": {
                                                "status": {
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Property added to favourites"
                                                },
                                                "is_favourite": {
                                                    "type": "boolean",
                                                    "example": true
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "properties": {
                                                "status": {
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Property removed from favourites"
                                                },
                                                "is_favourite": {
                                                    "type": "boolean",
                                                    "example": false
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/favourites-list": {
            "get": {
                "tags": [
                    "Customer API"
                ],
                "summary": "Get favourite properties",
                "description": "Retrieve list of customer's favourite properties",
                "operationId": "de6ac743a3695cd2e9f7566d6e0d718c",
                "responses": {
                    "200": {
                        "description": "Favourite properties retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "total": {
                                            "type": "integer",
                                            "example": 3
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "title": {
                                                        "type": "string",
                                                        "example": "Favourite Property"
                                                    },
                                                    "address": {
                                                        "type": "string",
                                                        "example": "123 Main St"
                                                    },
                                                    "price": {
                                                        "type": "number",
                                                        "example": 500000
                                                    },
                                                    "image": {
                                                        "type": "string",
                                                        "example": "http://example.com/uploads/property/image.jpg"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/profile/update": {
            "post": {
                "tags": [
                    "Customer API"
                ],
                "summary": "Update customer profile",
                "description": "Update customer profile information including profile image",
                "operationId": "5399b63ea33a3d0018d7d9e58ef8ef4a",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "phone"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "kumawat22@gmail.com"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "+1234567890"
                                    },
                                    "address": {
                                        "type": "string",
                                        "example": "123 Main St, City, State"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "new12345678"
                                    },
                                    "profile_image": {
                                        "description": "Profile image file (JPG, JPEG, PNG, max 2MB)",
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Profile updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Profile updated successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "John Doe"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "kumawat22@gmail.com"
                                                },
                                                "phone": {
                                                    "type": "string",
                                                    "example": "+1234567890"
                                                },
                                                "address": {
                                                    "type": "string",
                                                    "example": "123 Main St"
                                                },
                                                "profile_image": {
                                                    "type": "string",
                                                    "example": "http://example.com/uploads/customers/image.jpg"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthorized"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/account-data": {
            "get": {
                "tags": [
                    "Customer API"
                ],
                "summary": "Get account dashboard",
                "description": "Retrieve customer's account dashboard with finance information for properties",
                "operationId": "da99d136e0f15e6ee054c65e174e86df",
                "responses": {
                    "200": {
                        "description": "Account data fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Account data fetched successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "customer": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "John Doe"
                                                        },
                                                        "email": {
                                                            "type": "string",
                                                            "example": "kumawat22@gmail.com"
                                                        },
                                                        "phone": {
                                                            "type": "string",
                                                            "example": "+1234567890"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "properties": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "property": {
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "integer",
                                                                        "example": 1
                                                                    },
                                                                    "title": {
                                                                        "type": "string",
                                                                        "example": "Property Title"
                                                                    },
                                                                    "address": {
                                                                        "type": "string",
                                                                        "example": "123 Main St"
                                                                    },
                                                                    "image": {
                                                                        "type": "string",
                                                                        "example": "http://example.com/uploads/property/image.jpg"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "finance": {
                                                                "type": "array",
                                                                "items": {
                                                                    "properties": {
                                                                        "finance_id": {
                                                                            "type": "integer",
                                                                            "example": 1
                                                                        },
                                                                        "total_amount": {
                                                                            "type": "number",
                                                                            "example": 500000
                                                                        },
                                                                        "paid_amount": {
                                                                            "type": "number",
                                                                            "example": 250000
                                                                        },
                                                                        "balance": {
                                                                            "type": "number",
                                                                            "example": 250000
                                                                        },
                                                                        "payments": {
                                                                            "type": "array",
                                                                            "items": {
                                                                                "type": "object"
                                                                            }
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "No finance records found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "No finance records found"
                                        },
                                        "data": {
                                            "properties": {
                                                "customer": {
                                                    "type": "object"
                                                },
                                                "properties": {
                                                    "type": "array",
                                                    "items": {
[...]
